root = true

[*.cs]
# --- БАЗА ---
indent_size = 4
indent_style = space

# --- СТИЛЬ КОДА (ОШИБКИ, ЕСЛИ НЕ ТАК) ---

# 1. Требуем var там, где тип очевиден (var x = new HttpClient())
csharp_style_var_when_type_is_apparent = true:error

# 2. Требуем короткий using (using var x = ...;)
csharp_prefer_simple_using_statement = true:error

# 3. Требуем namespace на всю страницу (без лишних { })
csharp_style_namespace_declarations = file_scoped:error

# 4. Предлагаем Primary Constructors (public sealed class MyClass(int id))
csharp_style_prefer_primary_constructors = true:suggestion


# --- ПРАВИЛА ИМЕНОВАНИЯ (VIPER EDITION) ---

# 5. Приватные поля строго с _ (например, _client)
dotnet_naming_rule.private_fields_with_underscore.symbols = private_fields_sym
dotnet_naming_rule.private_fields_with_underscore.style = underscore_style
dotnet_naming_rule.private_fields_with_underscore.severity = error

dotnet_naming_symbols.private_fields_sym.applicable_kinds = field
dotnet_naming_symbols.private_fields_sym.applicable_accessibilities = private

dotnet_naming_style.underscore_style.required_prefix = _
dotnet_naming_style.underscore_style.capitalization = camel_case